.team-wrapper {
  margin: 50px 0;
}

.team-heading {
  line-height: 55px;
  background-color: var(--main-color);
  color: white;
}

.team {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-member {
  display: inline-block;
  margin-top: 10px;
}

.team-member-photo {
  border-radius: 50%;
}
