.about-container {
  min-height: 650px;
  background: rgba(0, 0, 0, 0.7) top no-repeat;
  background-image: image-set("./img/about-1x.jpg" 1x,
                              "./img/about-2x.jpg" 2x,
                              "./img/about-3x.jpg" 3x);
  background-blend-mode: darken;
  overflow: hidden;
}

.about-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 105px;
  align-items: center;
  color: #fff;
}

h2 {
  padding: 10px 0;
  font-size: 24px;
}