.director-day {
  display: flex;
  margin: 60px 0;
}

.director-widget {
  display: flex;
  margin: auto;
  background-color: #e4e4e4;
}

.director-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.director-block:last-child {
  align-items: center;
}

.director-widget-heading {
  padding: 10px 60px;
  background-color: var(--main-color);
  color: #fff;
  text-transform: uppercase;
  font-family: 'Playfair Display', 'Georgia', serif;
  font-size: 22px;
}

h4 {
  padding: 10px 0;
  color: #585757;
  font-size: 18px;
  font-family: 'Noto Serif SC', serif;
}

.director-info {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: #6f6e6e;
}

.director-widget-button {
  display: inline-block;
  padding: 15px;
  color: var(--main-color);
  background-color: #fff;
  border: 1px solid var(--main-color);
  font-family: 'Noto Serif SC', serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.director-widget-button:hover {
  color: #fff;
  background-color: var(--main-color);
}

.director-widget img{
  max-width: 100%;
  flex-grow: 0;
}

@media screen and (max-width: 600px){
  .director-widget {
    flex-direction: column;

  }

  .director-widget:first-child {
     align-items: center;

   }

  .director-widget-heading {
    padding: 5px 15px;
    font-size: 20px;
    align-self: stretch;
  }

  h4 {
    font-size: 14px;
  }

  .director-block {
    align-items: flex-start;
  }

}