footer {
  background: #2a2a2a;
  flex-shrink: 0;
}

.foot-wrapper{
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px 0;
  color: #fff;
}


.foot-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot-logo {
  display: flex;
  align-items: center;
  color: #fff;
}

.block-string {
  padding-left: 10px;
  font-size: 18px;
  font-family: 'Open Sans Condensed', 'Georgia', serif;
}

.foot-links {
  display: flex;
  flex-direction: column;
}

.foot-link {
  font-size: 16px;
  font-family: 'Open Sans Condensed', 'Georgia', serif;
  color: #fff;
}

.foot-link:hover {
  color: #ff1317;
}

.fa-search {
  padding-right: 8px;
}

.copyright {
  text-align: center;
}