footer {
  background: #2a2a2a;
  flex-shrink: 0;
}

.foot-wrapper{
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px 0;
  color: #fff;
}

.foot-main{
  display: flex;
  justify-content: center;
  margin: 15px 0;
  align-items: center;
}

.block-string {
  padding-left: 10px;
  font-size: 18px;
  font-family: 'Open Sans Condensed', 'Georgia', serif;
  color: #fff;
}

.fa-search {
  padding-right: 8px;
}

.copyright {
  font-family: 'Poiret One', cursive;
  text-align: center;
  margin: 15px 0;
}