:root {
  --main-color: #f44242;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*.main-header {*/
  /*background: var(--main-color);*/
  /*color: #fff;*/
  /*padding: 10px 30px; */
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
/*}*/

/*.logo {*/
  /*max-width: 200px;*/
  /*font-size: 55px;*/
/*}*/

/*.nav {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
/*}*/

/*.page-link {*/
  /*color: #fff;*/
  /*display: block;*/
  /*font-size: 20px;*/
  /*text-transform: uppercase;*/
/*}*/

/*.page-link:hover {*/
  /*color: #333;*/
/*}*/

.director-vidget {
  border: 2px solid var(--main-color);
  display: inline-block;
  background-color: beige;
}

.director-vidget-heading {
  background-color: var(--main-color);
  padding: 10px;
  color: #fff;
}

.director-vidget-button {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  display: inline-block;
  padding: 5px;
  border: 1px solid var(--main-color);
  margin-bottom: 10px;
}

.director-vidget-button:hover {
  background-color: var(--main-color);
  color: #fff;
}

.main-wrapper {
  flex: 1 0 auto;
  text-align: center;
}

.team-wrapper {
  margin: 50px 0;
}

.team-heading {
  line-height: 55px;
  background-color: var(--main-color);
  color: white;
}

.team {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-member {
  display: inline-block;
  margin-top: 10px;
}

.team-member-photo {
  border-radius: 50%;
}

.search-wrapper {
  padding: 30px 10px;
}

.search-heading {
  text-transform: uppercase;
  text-align: center;
}

.searchbar {
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 23px;
  margin: 20px 0;
  text-transform: capitalize;
}

.searchbar:focus {
  outline-color: var(--main-color);
}

.director-data {
  border: 2px solid lightgray;
  width: 60%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.director-data-img {
  height: 100px;
}

.director-data-city {
  font-weight: normal;
  font-style: italic;
}

.director-data-button {
  padding: 5px;
  background-color: var(--main-color);
  color: white;
  border: 2px solid transparent;
}

.director-data-button:hover {
  color: var(--main-color);
  background-color: white;
  border: 2px solid var(--main-color);
}
