:root {
  --main-color: #f44242;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.main-header {
  background: var(--main-color);
  color: #fff;
  padding: 10px 30px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 200px;
  font-size: 55px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-link {
  color: #fff;
  display: block;
  font-size: 20px;
  text-transform: uppercase;
}

.page-link:hover {
  color: #333;
}

.director-vidget {
  border: 2px solid var(--main-color);
  display: inline-block;
  background-color: beige;
}

.director-vidget-heading {
  background-color: var(--main-color);
  padding: 10px;
  color: #fff;
}

.director-vidget-button {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  display: inline-block;
  padding: 5px;
  border: 1px solid var(--main-color);
  margin-bottom: 10px;
}

.director-vidget-button:hover {
  background-color: var(--main-color);
  color: #fff;
}

.main-wrapper {
  text-align: center;
}

.team-wrapper {
  margin: 50px 0;
}

.team-heading {
  line-height: 55px;
  background-color: var(--main-color);
  color: white;
}

.team {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-member {
  display: inline-block;
  margin-top: 10px;
}

.team-member-photo {
  border-radius: 50%;
}
